.locationIconMain {
  --dimension-icon: 12px;

  @media all and (min-width: 720px) {
    --dimension-icon: 18px;
  }

  @media all and (min-width: 1280px) {
    --dimension-icon: 21.6px;
  }

  @media all and (min-width: 1920px) {
    --dimension-icon: 25.2px;
  }

  height: var(--dimension-icon);
  width: var(--dimension-icon);
}
