@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.main {
  //   background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  background-color: #fffcf4;
  padding: 20px 31px 20px;
  .wrapper {
    max-width: 740px;
    margin: 0px auto;

    .titleHeader {
      font-size: 23px;
      text-align: center;
      margin-bottom: 12px;
    }
    .verticalDivider {
      border: 1px solid var(--divider-color);
      opacity: var(--divider-opacity);
    }

    .faqSection {
      text-align: center;
      line-height: 24px;
      margin: 35px 0px;

      .question {
        font-size: 14px;
        font-weight: bold;
      }
      .answer {
        margin-top: 4px;
        font-size: 10px;

        .cursive {
          display: inline;
          font-family: "Great Vibes", cursive;
          font-size: 16px;
        }
      }
    }

    .imageDivider {
      display: block;
      object-fit: cover;
      background-size: cover;

      width: 145px;
      height: 35px;
      margin: 0px auto;

      filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
        drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    }
  }
}
/* This is mostly intended for prototyping; 
please download the pattern and re-host for production environments. 
Thank you! */
