@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.main {
  background-image: var(--background-image-stripes);

  // background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  color: var(--main-text-color);
  background-color: var(--faqs-main-background-color);
  padding: var(--mains-padding);

  --cursive-font-size-sm: 16px;

  .wrapper {
    max-width: 740px;
    margin: 0px auto;

    .faqSection {
      text-align: center;
      line-height: 24px;
      margin: 35px 0px;

      .question {
        font-size: var(--subheader-font-size);
        font-weight: bold;
      }
      .answer {
        margin-top: 4px;
        font-size: var(--p-font-size);

        .cursive {
          display: inline;
          font-family: "Great Vibes", cursive;
          font-size: var(--cursive-font-size-sm);
        }

        @media all and (min-width: 720px) {
          .cursive {
            font-size: 19.2px;
          }
        }
        @media all and (min-width: 1280px) {
          .cursive {
            font-size: 22.4px;
          }
        }
        @media all and (min-width: 1920) {
          .cursive {
            font-size: 25.6px;
          }
        }
        .underlined {
          text-decoration: underline;
        }
      }
      .italicized {
        font-style: italic;
      }
    }

    .imageDivider {
      display: block;
      object-fit: cover;
      background-size: cover;

      width: 145px;
      height: 35px;
      margin: 0px auto;

      filter: var(--drop-shadow-md);
    }

    @media all and (min-width: 720px) {
      .imageDivider {
        width: 174px;
        height: 43px;
      }
    }

    @media all and (min-width: 1280px) {
      .imageDivider {
        width: 203px;
        height: 49px;
      }
    }

    @media all and (min-width: 1920px) {
      .imageDivider {
        width: 232px;
        height: 68.8px;
      }
    }
  }
}
