.navBar {
  position: sticky;
  top: 10px;
  z-index: 999;
  width: 90%;
  max-width: 740px;
  margin: 0 auto;

  padding: 3px 12px;

  //   border: 1px solid white;

  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --nav-font-size: 12px;

  .nav {
    font-size: var(--nav-font-size);
  }

  @media all and (min-width: 720px) {
    --nav-font-size: 14.4px;
    padding: 3px 14.4px;
  }
  @media all and (min-width: 1280px) {
    --nav-font-size: 16.8px;
    padding: 3px 16.8px;
  }
  @media all and (min-width: 1920px) {
    --nav-font-size: 19.2px;
    padding: 3px 19.2px;
  }
}

.darkBase {
  color: white;
  opacity: 50%;
}

.lightBase {
  color: #43403f;
  opacity: 50%;
}

.darkSelected {
  opacity: 100%;
  border-bottom: 1px solid white;
}

.lightSelected {
  opacity: 100%;
  border-bottom: 1px solid #43403f;
}

.navBarDark {
  background-color: rgba(217, 217, 217, 0.15);
}

.navBarLight {
  background-color: rgba(217, 217, 217, 0.15);
}
